body {
    font-family: sans-serif;
    background-color: bisque;
}

button {
    display: block;
    border: none;
    background-color: lightblue;
}

.profile {
    padding: 1em;

}

.forms {
    display: flex;
    margin: 1em 0em;
}

.todo-container {
    padding: 1em;
}